

.headerWrapper {
    background: #000 !important;
   box-shadow:0 4px 30px #00000012;
   padding: 1rem 0 0.5rem;
   
}



.headerText {
    background: var(--text-background-color) !important;
    color: var(--background-color) !important;
    font-size: 2.5rem;
    width: fit-content !important; 
    text-transform: uppercase;
    font-weight: 700;
}

.blogText {
    color: var(--text-background-color) !important;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-left: 0.25rem;
    font-weight: 700;
}

.linkContainer {
    display: flex;
    gap: 2rem;
    margin:20px 0 12px;
    align-items: center;
    justify-content: center;
     cursor: pointer;

  
}


.linkContainer p {
    color:#fff !important;
 font-weight: 500 !important;
 text-transform: capitalize;
 margin-bottom: 0 !important;
 font-size: 1.25rem !important;
 cursor: pointer;

  
}

.customDrawerClass {
    width: 100vw;
    z-index:1301;
    margin-top:3rem;
}
.drawerContent {
    margin:1.5rem 1rem 2rem;
     text-transform: capitalize;
    font-size: 1.5rem !important;
    color:#000 !important;

}

.linkText {
 font-size: 1.125rem;
 color:var(--theme-color);
 font-weight: 500;
 margin-bottom: 0.5rem;
}

.linkText:first-child {
border-bottom:1px solid var(--theme-color);
padding-bottom:0.75rem;
margin-bottom:0.75rem !important;
}

@media only screen and (max-width:767.95px) {

    .headerWrapper {
        padding:0.75rem 0;
        position: fixed !important;
        top:0px;
        width: 100vw !important;
      
        z-index: 1302;
        background: var(--white-color);


    }

    .headerText {
    font-size: 1.25rem;
   }

   .blogText {
    font-size: 1.25rem;   
 }



.linkContainer{

    display:none !important;
}


}
