.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    padding: 40px 0 20px;
}


.imgWrapper > div > img {
    width:100% !important;
    border-radius: 12px;
    height: 500px;
  
}

.description > h1 {
    font-size: 1.25rem !important;
    font-weight: 700;
    padding:10px 0;



}

.description > h2 {
    font-size: 1.25rem !important;
    font-weight: 700;
    padding:10px 0;



}

@media only screen and (max-width:767.95px) {

    .title {
    font-size: 28px !important;
    line-height: 36px !important;
    padding: 64px 0 20px !important;
}

.imgWrapper > div > img {
    height: 350px !important; 
}



}

@media only screen and (min-width:1200px) and (max-width:1440px) {
.imgWrapper > div > img {
    height: 530px !important; 
}



}

@media only screen and (min-width:1440px)  {
.imgWrapper > div > img {
    height: 560px !important; 
}

}