@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #fff;
  --background-end-rgb: #fff;
  --background-color: #fff;
  --text-background-color: #000;
  --theme-color:#282828 !important;
  --dark-accent:#191c20;
  --dark-accent-0: #191c2000;
  --dark-accent-90: #191c20f2;
  --theme-tag-color:#FF9F31;
  --white-color:#fff !important;
  --black-color:#000 !important;
  --tabletMinWidth:767.95px;


  
}


.col-3 {
 flex: 0 0 25%;
 max-width: 25%;
}

.col-4 {
  flex: 0 0 32.5%;
 max-width: 32.5%; 
}

.col-6 {
 flex: 0 0 50%;
 max-width: 50%;
}

.col-9 {
flex: 0 0 75%;
 max-width: 75%;
}

.col-12 {
flex: 0 0 100%;
 max-width: 100%;
}

.borderClass {
border-bottom: 4px solid #000;
}




 .commonwrapper {
    min-width:20% !important;
      background:#F5F5F5 !important;
  
  }
  .middleWrapper {
    min-width:60% !important;
      background:#F5F5F5 !important;
  }

  @media only screen and (max-width:767.95px) {

  .commonwrapper {
      display:none !important;
  }
  .middleWrapper {
  width:100vw !important;
  min-width:unset !important;
}
.titleClass {
     font-size:1.125rem;
     font-weight: 500;
     line-height: 1.5rem;

    }
.logoImg {
   height: 52px !important;
}
  
  }






@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
