@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #fff;
  --background-end-rgb: #fff;
  --background-color: #fff;
  --text-background-color: #000;
  --theme-color:#282828 !important;
  --dark-accent:#191c20;
  --dark-accent-0: #191c2000;
  --dark-accent-90: #191c20f2;
  --theme-tag-color:#FF9F31;
  --white-color:#fff !important;
  --black-color:#000 !important;
  --tabletMinWidth:767.95px;


  
}


.col-3 {
 flex: 0 0 25%;
 max-width: 25%;
}

.col-4 {
  flex: 0 0 32.5%;
 max-width: 32.5%; 
}

.col-6 {
 flex: 0 0 50%;
 max-width: 50%;
}

.col-9 {
flex: 0 0 75%;
 max-width: 75%;
}

.col-12 {
flex: 0 0 100%;
 max-width: 100%;
}

.borderClass {
border-bottom: 4px solid #000;
}




 .commonwrapper {
    min-width:20% !important;
      background:#F5F5F5 !important;
  
  }
  .middleWrapper {
    min-width:60% !important;
    background:#F5F5F5 !important;
  }

  .noDescriptionsFound {
    font-size: 20px;
    font-weight: 500;

  }

  .categoryLink {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px !important;
    color:#fff !important;
  }

  .no-categories {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
      font-weight: 600;
  }

  .logoImgClass {
    height: 80px;
    width: 250px;
  }
   .logoImgClass > img {
     height: 100%  !important;
     width: 100% !important;
  }
  .titleClass {
    padding-bottom: 0.625rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
    cursor: pointer;
  }
  .linkText {
    padding-bottom: 0.625rem;
  }

  .subCategoriesImgWrapper {
    aspect-ratio: 4/3;
  }
  .subCategoriesImgWrapper > img {
   height: 100% !important;
   width: 100% !important;
  }

  .loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}


  @media only screen and (max-width:1023.95px) {
    .categoryLink {
    font-size: 17px !important;
  }
  }

  .selectedLink {
   border-bottom:2px solid #fff;
   font-weight: 600 !important;
   margin-bottom: 0.5rem !important;
  }

  @media only screen and (max-width:767.95px) {

  .commonwrapper {
      display:none !important;
  }
  .middleWrapper {
  width:100vw !important;
  /* height: 100vh; */
  min-width:unset !important;
}
.titleClass {
     font-size:1.25rem;
     font-weight: 600;
     line-height: 1.5rem;

    }


 .logoImgClass {
    height: 54px !important;
    width: 210px !important;
  }
  

 .categoryLink {
    font-size: 22px !important;
    font-weight: 500 ;
  }

 .selectedLink {
   display: inline-block !important;
  }
  
  }

.customWidthClass {
  margin: 0 auto;
  min-width: 60% !important;
}

.footerWrapper {
  background: #000 !important;
}

.footerText {
  font-size: 1.125rem;
  color:#fff !important;
}



.footerBorderClass {
 height: 3px;
 background:#fff !important;
}
.allRightReserved {
   font-size: 0.875rem;
  color:#fff !important;
  display: flex;
  justify-content: center;
}










@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
