.subCategoriesWrapper {
    gap:12px;
 


}

.imageClass {
 height: 230px;
 display: flex;

}

.imageClass > img {
height: 100% !important;
width: 100% !important;
border-radius: 12px;
object-fit: cover;

}

.categoryName{
    padding-bottom: 0.25rem;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    
}
.customImageClass {
aspect-ratio: 256/183;
}
.customImageClass > img {
height: 100% !important;
width: 100% !important;
}

.categoryTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;

}

.customImageClass > img{
  height: 100% !important;
  width:100% !important;
}



.customImage {
  aspect-ratio: 1/1 !important;


}
.customImage > img {
  height: 100% !important;
  width: 100% !important;
  border-radius: 12px;
}

@media only screen and (max-width:767.95px) {

    .titleClass {
     font-size:1rem;

    }
    .subWrapper {
      flex: 0 0 100% !important;
      max-width: 100% !important;

    }
    .categoryTitle {
     font-size: 28px;
     line-height: 36px;
     font-weight: 700;
    }
    .customImageClass {
      display: none !important;
    }
}

