

.title {
    font-size:24px;
    font-weight:700;
    border-bottom:4px solid var(--black-color) !important;
}

.mostReadArticleWrapper {
 display: grid;
gap: 20px;
}


.sideArticles {
     display: grid;
   grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;


}

.articleImage {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     cursor: pointer;

}

.overlayInner {
    display:flex;
    cursor: pointer;
    flex-direction:column;
    gap:1rem;
    padding:20px;
    border-radius:12px;
    background: linear-gradient(to top, var(--dark-accent) 0, var(--dark-accent-90) 50%, var(--dark-accent-0) 100%);
}

.description {

    color:var(--white-color) !important;
    font-size: 24px;
    line-height: 32px;
}

.description:hover{
    text-decoration: underline;
    cursor: pointer;

}



.sideArticleImage {
    height: 100% !important;
    width: 100% !important;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;


}

.sideArticle {
  height: 280px;
}

@media only screen and (min-width:767.95px) and (max-width:1200px) {
    .sideArticle {
     height: 240px;
  }
  .description {
    font-size: 22px;
    line-height: 28px;
  }
}


@media only screen and (max-width:767.95px) {
    .mostReadArticleWrapper {
  display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 0.25rem;

}

.sideArticles {
    display: flex;
    flex-direction: column;
     margin-bottom: 0px;
     height: 100% !important;
     gap:20px;
}

.sideArticle > img {
    height:250px !important;
    cursor: pointer;
    width: 100%  !important;
    border-radius: 12px;
}
.descriptionWrapper {
    gap:0.5rem;
}


.description {
 font-size: 18px !important;
 line-height: 26px !important;
}
}


