.newsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.mainArticle {
    grid-column: 1 / 2;
    position: relative;

}

.articleImage {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     cursor: pointer;

}
.sideArticleImage {
 height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 230px;
    cursor: pointer;


}

.sideArticles {

 display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-template-rows: repeat(2, 1fr);   
gap: 20px;

}

.overlayInner {
    display:flex;
    cursor: pointer;
    flex-direction:column;
    gap:1rem;
    padding:20px;
    border-radius:12px;
    background: linear-gradient(to top, var(--dark-accent) 0, var(--dark-accent-90) 50%, var(--dark-accent-0) 100%);
}

.categoryLabel {
    position: relative;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 8px;
    width: fit-content;
    z-index: 1;
    color:var(--white-color) !important;
    font-size:12px;
    background: #FF9F31 !important;
    transform: skewX(-25deg);
    


}
.description {

    color:var(--white-color) !important;
}

.description:hover{
    text-decoration: underline;
    cursor: pointer;


}

.categoryLabel > span {
    display:inline-block;
    transform: skewX(25deg);
}



.authorTitle {
    font-size:12px;
}

.authorTitle span:hover {
    text-decoration: underline;
}


@media only screen and (max-width:767.95px) {
     .newsGrid {
        grid-template-columns: 1fr;
        width: 100vw !important;
    }
    .mainArticle {
        padding:3.75rem 1rem  0.25rem !important;
    }
    .articleImage {
        height: 350px  !important;
        width:100% !important;
    }
     .sideArticles {
        display: block; /* Switch to block layout */
        padding-inline: 1rem !important ;
    }

    .sideArticles > * {
        display: inline-block; 
        width: 100%; 
        margin-bottom: 20px;
    }
    
    .sideArticle {
    height: 250px;
    position: relative;
    margin-bottom: 0 !important;
   }

   .description {
    font-size: 18px !important;
    line-height: 26px !important;
   }

   .sideArticleImage {
    background-position: top;


   }
                     



}

